/app/config/parameters.yml
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/app/var/jwt/*
!/app/var/jwt/.gitkeep
.idea/
/node_modules/*
vendor.js
vendor.css
app-files.js
*.log
*.iml
.idea/workspace.xml
